{% extends "layout.twig" %}
{% block content %}
<h1>Cadastro de Atividade</h1>

<form id="frm-atividade" name="frm-atividade">
    <div class="form-group">
        <label for="projeto-atividade">Atividade</label>
        <select class="form-control">
            <option value="-">-</option>
            {% for project in listProjetos %}
            <option value="{{ project.id }}">{{ project.nome }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="projeto-id">ID</label>
        <input type="text" class="form-control" id="projeto-id" disabled>
    </div>
    <div class="form-group">
        <label for="projeto-nome">Nome</label>
        <input type="text" class="form-control" id="projeto-nome" placeholder="Nome...">
    </div>
    <div class="form-group">
        <label for="projeto-custo">Custo</label>
        <input type="text" class="form-control" id="projeto-custo" placeholder="Custo...">
    </div>
    <div class="form-group">
        <label for="projeto-dataconclusao">Data Conclusão</label>
        <input type="text" class="form-control" id="projeto-dataconclusao" placeholder="Custo...">
    </div>
    <button type="button" id="btn-submit-save" class="btn btn-default">Salvar</button>
</form>

<h2>Registros</h2>
<table class="table table-bordered" id="table-projeto">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Qtd Tarefa</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ base_url() }}/js/negocio/atividade.js"></script>
{% endblock %}